---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import Badge from '../components/Badge.astro';
---

<Layout title="Ron's Portfolio">
	<main>
		<section class="w-full lg:w-[740px] mx-auto py-44">
			<h1 class="text-white text-5xl font-bold justify-center flex flex-row gap-x-4 pb-4">
				Hey, my name is Ron <a 
				href="https://www.linkedin.com/in/ronald-mestre/" 
				target="_blank"
				rel="noopener" 
				class="flex justify-center items-center"><Badge>Available for Hire.
					</Badge></a>
			</h1>
			<h2 class="text-2xl opacity-80">Web developer with experience in Astro, Next js & React js. Focused on mastering new tools everyday.</h2>
		</section>
	</main>
</Layout>


