<header class = "flex justify-between items-center py-4 w-[1120px]">
    <img class="rounded-full w-12 h-12" src="https://avatars.githubusercontent.com/u/48893585?s=400&u=90feec51fba79c6aac56e6b42463c2e0de3c2478&v=4" alt="Ronald photo"/>

    <nav class="flex flex-row gap-x-10">
            <a href="/">Home</a>
            <a href="/about">About</a>
            <a href="/projects">Projects</a>
            <a href="/contact">Contact</a>
    </nav>
</header>